services:
  registry:
    image: mcp/registry:latest
    container_name: registry
    # See .env.example for more documentation
    environment:
      - MCP_REGISTRY_AWS_REGION=${MCP_REGISTRY_AWS_REGION:-us-east-1}
      - MCP_REGISTRY_DATABASE_TYPE=${MCP_REGISTRY_DATABASE_TYPE:-jsonfile}
      - MCP_REGISTRY_JSON_FILE_PATH=${MCP_REGISTRY_JSON_FILE_PATH:-/tmp/data/registry.json}
      - MCP_REGISTRY_ENVIRONMENT=${MCP_REGISTRY_ENVIRONMENT:-test}
      - MCP_REGISTRY_GITHUB_CLIENT_ID=${MCP_REGISTRY_GITHUB_CLIENT_ID:-Iv23licy3GSiM9Km5jtd}
      - MCP_REGISTRY_GITHUB_CLIENT_SECRET=${MCP_REGISTRY_GITHUB_CLIENT_SECRET:-0e8db54879b02c29adef51795586f3c510a9341d}
      - MCP_REGISTRY_JWT_PRIVATE_KEY=${MCP_REGISTRY_JWT_PRIVATE_KEY:-bb2c6b424005acd5df47a9e2c87f446def86dd740c888ea3efb825b23f7ef47c}
      - MCP_REGISTRY_ENABLE_ANONYMOUS_AUTH=${MCP_REGISTRY_ENABLE_ANONYMOUS_AUTH:-true}
      - MCP_REGISTRY_SEED_FROM=/tmp/data/seed.json
      #- MCP_REGISTRY_SEED_FROM=https://mthenhaus-mcp-registry.s3.us-east-1.amazonaws.com/registry.json
      - MCP_REGISTRY_OIDC_ENABLED=${MCP_REGISTRY_OIDC_ENABLED:-false}
      - MCP_REGISTRY_OIDC_ISSUER=${MCP_REGISTRY_OIDC_ISSUER:-https://accounts.google.com}
      - MCP_REGISTRY_OIDC_CLIENT_ID=${MCP_REGISTRY_OIDC_CLIENT_ID:-1234.apps.googleusercontent.com}
      - MCP_REGISTRY_OIDC_EXTRA_CLAIMS=${MCP_REGISTRY_OIDC_EXTRA_CLAIMS:-[{"hd":"modelcontextprotocol.io"}]}
      - MCP_REGISTRY_OIDC_EDIT_PERMISSIONS=${MCP_REGISTRY_OIDC_EDIT_PERMISSIONS:-*}
      - MCP_REGISTRY_OIDC_PUBLISH_PERMISSIONS=${MCP_REGISTRY_OIDC_PUBLISH_PERMISSIONS:-*}
      - MCP_REGISTRY_ENABLE_REGISTRY_VALIDATION=true
    ports:
      - 8080:8080
    volumes:
      - ./data:/tmp/data
    restart: "unless-stopped"
